@charset "utf-8";
/* 公共样式 */
.ui.grid{margin: 0;}
.ui.grid+.grid{margin-top: 0;}
.ui.grid>.column:not(.row),
.ui.stackable.grid>.column:not(.row){padding: 0;}
.ui.divider{margin: 10px 0;}
i.icon{margin: 0;}
a:hover{text-decoration: underline;}

/* 导航-nav */
nav i.icon{color: #fff;font-size: 20px;}
div.ui .mobile-show-nav{display: none;position: fixed;top: 40px;left: 0;z-index: 1;width: 100%;height: 100%;padding: 0 30px;background: #1b1c1d;}
.mobile-nav a.item{height: 100%;}
.mobile-show-nav li{height: 45px;border-bottom: 1px solid #333;line-height: 45px;}
.mobile-show-nav li a{display: block;color: #fff;line-height: 45px;}
.mobile-show-nav li a:hover{color: rgba(255,255,255,.65)}
#footer{background: #f2f2f2;}
#footer .footer-nav{padding: 20px;}
#footer .footer-nav-cont h6{font-size: 14px;}
.footer-nav-cont ul{margin-top: 5px;}
.footer-nav-cont ul li{line-height: 20px;}
.footer-nav-cont ul li>a{font-size: 12px;}
.footer-nav-cont ul li>a:hover{color: #333;}
.tablet-computer-only{margin-top: 20px;}
.footer-bottom p, 
.footer-bottom a{font-size: 12px;}
.footer-bottom p{line-height: 20px;}
.footer-bottom a{color: #0070c9;cursor: pointer;}
.copyright{padding-bottom: 30px;}
.copyright .copyright-p{display: inline-block;margin-right: 30px;}
.copyright-cont{display: inline-flex;}
.copyright-cont li{padding: 0 8px;border-right: 1px solid #333;}
.copyright-cont li:first-of-type{padding-left: 0;}
.copyright-cont li:last-of-type{border-right: none;}
.copyright-cont li a{color: #333;}

/* ----------首页——index.html---------- */
.main{margin-top: 40px;}
/* apple */
.iphone .iphone-x{margin-bottom: 10px;padding-bottom: 100px;background: #f9f9f9;}
.iphone .iphone-8{background: #f7eee8;}
.iphone-x .iPhone-title{padding: 80px 0;}
.iphone-8 .iPhone-title{padding: 30px 0;}
.iphone li h2{font-size: 56px;}
.iphone li p{font-size: 26px;}
/* 产品 */
.product ul.padding-10{padding: 5px;}
.product ul li{background: #f9f9f9;border: 5px solid #fff;}
.product .title{margin-top: 50px;}
.product .title h3{font-size: 40px;}
.product .title span{display: inline-block;;margin-top: 2px;color: red;font-size: 16px;letter-spacing: 1px;}
.product .title p{margin-top: 10px;font-size: 21px;}
.product .watch{margin: 4rem 0;}
.product .airPods{margin: 5rem 0;}
.product .iPadPro{margin: 8rem 0;}
.product .iMacPro{background: #1a1a1a;}
.product .iMacPro .title>*{color: #fff;}
.product .bao{margin-top: 5.5rem;}
.product .customer{margin: 7.5rem 0;}

/* ----------Mac——mac.html---------- */
.mac-pro{background: #1a1a1a;}
.mac-title{padding: 50px 0 55px 0;}
.mac-title h2{color: #fff;font-size: 80px;}
.mac-title p{margin-bottom: 20px;color: #fff;font-size: 35px;}
.mac-title a, 
.mac-title i{color: #6bf;font-size: 18px;}
.mac-title i:first-of-type{margin-right: 15px;}
.mac-cont li{width: 1350px;margin-top: 50px;background: rgb(250,250,250);text-align: center;}
.mac-cont .mac-title h2{color: #333;}
.mac-cont .mac-title p{color: #333;}
.mac-cont .imgMrgin{margin-bottom: 40px;}
.mac-cont .mac-li-bg{background: url("../images/tile_high_sierra_large.jpg") no-repeat center/cover;}
.mac-li-bg .mac-title{padding: 150px 0;}
.mac-li-bg .mac-title h2, 
.mac-li-bg .mac-title p, 
.mac-li-bg .mac-title a, 
.mac-li-bg .mac-title i{color: #fff;}
.mac-title h3{margin-bottom: 20px;font-size: 40px;}
p.substitution{margin: 10px 0 15px 0;font-size: 18px;line-height: 25px;}
.pay.f-pay{padding: 120px 0;}
.f-pay h2{margin-top: 10px;font-size: 18px;}
.f-pay a, 
.f-pay i{color: #6bf;font-size: 16px;}
.macOS.macOS-cont{padding: 60px 0 75px 0;}
.macOS-cont .image{margin-bottom: 80px;}
p.macOS-i-p{margin: 15px 0;font-size: 16px;line-height: 25px;}
.macOS-title h3{font-size: 40px;}
.macOS-title a, 
.macOS-title i{color: #6bf;font-size: 16px;}
.built-inApp{width: 1350px;}
.built-inApp{background: rgb(250,250,250);}
.built-inApp .mac-title{padding-bottom: 10px;text-align: center;}
.built-inApp .mac-title p{color: #333;}
.built-inApp .mac-title a{color: #0070c9;font-weight: 400px;}
.built-inApp-sum .built-inApp-list li{padding: 10px 20px;border-bottom: 1px solid rgb(214,214,214);text-align: center;cursor: pointer;}
.built-inApp-sum .built-inApp-list li.active{border-color: #333;}
.built-inPhotos-sum{position: relative;margin: 70px 0 100px 0;}
.built-inPhotos-pages-l, 
.built-inPhotos-pages-r{position: absolute;top: 15%;z-index: 1;cursor: pointer;}
.built-inPhotos-pages-l i, 
.built-inPhotos-pages-r i{color: #999;font-size: 50px;}
.built-inPhotos-pages-l{left: 0;}
.built-inPhotos-pages-r{right: 0;}
.built-inApp .built-inPhotos-sum .built-inPhotos-pages-num{position: absolute;bottom: -30px;left: 50%;z-index: 1;margin-left: -84px;}
.built-inPhotos-pages-num ul{display: flex;}
.built-inPhotos-pages-num li{margin-right: 10px;width: 10px;height: 10px;border-radius: 50%;background: rgba(136,136,136,0.4);}
.built-inPhotos-pages-num li.active{background: #333;}
.built-inPhotos-list li:not(:first-of-type){display: none;}
.built-inPhotos-Pic{text-align: right;user-select: none;}
.built-inCont{margin-left: 50px;}
.built-inCont h4{font-size: 32px;}
.built-inCont p{margin: 12px 0;font-size: 16px;line-height: 25px;}
.built-inCont a, 
.built-inCont i{color: #6bf;font-size: 16px;}

@media (max-width: 1105px) and (min-width: 992px) {
    .built-inPhotos-Pic img{width: 98%;height: 98%;}
    .built-inCont{padding-top: 80px!important;}
}
@media (min-width: 1105px) {
    .built-inCont{padding-top: 100px!important;}
}
@media (max-width: 992px) {
    .built-inCont{margin-left: 0;padding: 0 20px!important;}
}

@media (max-width: 1024px) {
    .product .title h3{font-size: 32px;}
    .product .title p{font-size: 19px;}
    .mac-title h2{font-size: 38px;}
    .mac-title p{font-size: 27px;}
    .mac-cont li{margin-top: 10px;}
    .mac-title h3{font-size: 32px;}
    .pay.f-pay{padding: 90px 0;}
    .macOS.macOS-cont{padding: 40px 30px}
    .macOS-cont .image{margin-bottom: 10px;}
    .macOS-title h3{font-size: 32px;}
    .built-inApp p.substitution{font-size: 16px;}
    .built-inApp .br-hide{display: none;}
    .built-inPhotos-Pic{text-align: center;}
}
@media (max-width: 767px) {
    #footer .footer-nav-cont{border-bottom: 1px solid rgb(214,214,214);}
    #footer .footer-nav-cont h6{line-height: 35px;cursor: pointer;}
    .footer-nav-cont ul{padding: 5px 0 20px 15px;}
    .br-hide{display: none;}
    .pay.f-pay{padding: 40px 0;}
    .f-pay .column:not(:first-of-type){margin-top: 40px!important;}
    .built-inApp h3, 
    .built-inApp p{text-align: left;}
    .built-inCont h4{font-size: 24px;}
    .built-inApp .mac-title{text-align: left;}
    .built-inPhotos-Pic img{width: 70%;height: 70%;}
}
